
{% extends "base.html" %}
{% block content %}
<h1>Telescope Control</h1>

    <!-- combo to select tracking rates -->
    <!-- selections come from telescope itself -->
    <fieldset>
        <legend>Test Command String function</legend>
        <form hx-post="/send_command"
              hx-target="#response"
              hx-swap="innerHTML">
            <label for="command">Enter Command String:</label>
            <input type="text" id="command" name="command">
            <br>
            Response: <textarea name="response" id="response">Response will come here</textarea>
            <input type="submit" value="Send Command"> 
        </form>
    </fieldset>
    <br>
    <fieldset>
        <legend>Control Tracking</legend>
        <form hx-post="/update_tracking">
            <label for="tracking-enable">Enable / Disable Tracking:</label>
            <input type="checkbox" id="tracking-enable" name="tracking-enable"
                 value="1" {% if tracking %}checked{% endif %}>
            <br>
            <label for="tracking-rate">Select Tracking Rate:</label>
            <!-- checkbox to enable tracking -->
            <select name="tracking-rate" id="tracking-rate">
                {% for tr in tracking_rates %}
                    <option value={{ tr.value }} 
                    {% if tr.value == current_tracking_rate %}selected{% endif %}>{{ tr.name }} </option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Change Tracking">
        </form>
    </fieldset>

    <fieldset>
        <legend>Control MoveAxis (Slewing) Speed</legend>
        <form hx-post="/update_moveaxis_rate">
            <label for="moveaxis_rate">Select MoveAxis Speed:</label>
            <select name="moveaxis_rate" id="moveaxis_rate">
                {% for rate in moveaxis_rates %}
                    <option value={{ rate.number }} {% if rate.number == selected_rate %} selected {% endif %}>
                        {{ rate.name }} = {{ rate.rate }} </option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Set MoveAxis/Slewing Speed">
        </form>
    </fieldset>

    <div class="controller" id="controller">
        <!-- row 1 -->
        <div></div>
        <button class="control-btn" id="up-btn">UP</button>
        <div></div>

        <!-- row 2 -->
        <button class="control-btn" id="left-btn"> LEFT
            <!-- old HTMX approach tried:
            hx-post="/control" 
            hx-trigger="pointerdown, pointerup from:body" 
            hx-vals='js:{"direction":"LEFT", "event_type":(event.type==="pointerdown")?"start":"end"}'
            -->
        </button>
        <button class="control-btn" id="stop-btn">STOP</button>
        <button class="control-btn" id="right-btn">RIGHT</button>

        <!-- row three -->    
        <div></div>
        <button class="control-btn" id="down-btn">DOWN</button>
        <div></div>
    </div>

    <div hx-get="/status" hx-trigger="every 100s" hx-target="#status-table" hx-swap="outerHTML">
        {% include "telescope_coords.html" %}
    </div>

<script>
    // htmx.logAll()
    // set up the event handlers for all the control buttons
    document.querySelectorAll('.control-btn').forEach(button => {
        
        // Add event listener for pointerdown
        button.addEventListener('pointerdown', function (event) {
            // Capture the pointer for this button
            button.setPointerCapture(event.pointerId);
            sendPointerEvent(button.id, 'start');
        });
        
        // Add event listener for pointerup
        button.addEventListener('pointerup', function (event) {
            // Release the pointer capture for this button
            button.releasePointerCapture(event.pointerId);
            sendPointerEvent(button.id, 'end');
        });
    });

    // old code was: "direction":"LEFT", "event_type":(event.type==="pointerdown")?"start":"end"
    // Function to send POST request to Flask server
    function sendPointerEvent(buttonName, eventType) {
        fetch('/control', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                button_name: buttonName,
                event_type: eventType
            })
        })
        .then(response => response.json())
        .then(data => console.log('Data received from /control post:', data))
        .catch((error) => {
            console.error('Error after /control post: ', error);
        });
    }
</script>

{% endblock %}

