
{% extends "base.html" %}
{% block content %}
<h1>Telescope Control</h1>

    <!-- combo to select tracking rates -->
    <!-- selections come from telescope itself -->
    <!-- tracking rates using buttons -->

    <fieldset>
        <legend>Push button to set tracking rate</legend>
        <div class="tr-button-container">
            {% for tr in tracking_rates %}
                <button class="tr-control-button  {% if tr.value == current_tracking_rate %} active {% endif %}" 
                    onclick="toggle_tr_button(this, {{tr.value}})">{{tr.name}}</button>
            {% endfor %}
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Push button to set SLEW rate (move axis)</legend>
        <div class="ma-button-container">
            {% for rate in moveaxis_rates %}
                <button class="ma-control-button {% if rate.number == current_ma_rate %} active {% endif %}" 
                  onclick='toggle_ma_button(this, {{rate.number}})'>
                  {{rate.name}}<br>{{rate.rate}}
                </button>
            {% endfor %}
        </div>
    </fieldset>

    <div class="controller" id="controller">
        <!-- row 1 -->
        <div></div>
        <button class="control-btn" id="up-btn">UP</button>
        <div></div>

        <!-- row 2 -->
        <button class="control-btn" id="left-btn"> LEFT
            <!-- old HTMX approach tried:
            hx-post="/control" 
            hx-trigger="pointerdown, pointerup from:body" 
            hx-vals='js:{"direction":"LEFT", "event_type":(event.type==="pointerdown")?"start":"end"}'
            -->
        </button>
        <button class="control-btn" id="stop-btn">STOP</button>
        <button class="control-btn" id="right-btn">RIGHT</button>

        <!-- row three -->    
        <div></div>
        <button class="control-btn" id="down-btn">DOWN</button>
        <div></div>
    </div>

    <div hx-get="/status" hx-trigger="every 1s" hx-target="#status-table" hx-swap="outerHTML">
        {% include "telescope_coords.html" %}
    </div>

    <fieldset class="commandstring">
        <legend>Test Command String function</legend>
        <form hx-post="/send_command"
              hx-target="#response"
              hx-swap="innerHTML">
            <label for="command">Enter Command String:</label>
            <input type="text" id="command" name="command">
            <br>
            Response: <textarea name="response" id="response" rows="4" cols="50"></textarea>
            <input type="submit" value="Send Command"> 
        </form>
    </fieldset>

<script>
    // htmx.logAll()
    // set up the event handlers for all the control buttons
    document.querySelectorAll('.control-btn').forEach(button => {
        
        // Add event listener for pointerdown
        button.addEventListener('pointerdown', function (event) {
            // Capture the pointer for this button
            button.setPointerCapture(event.pointerId);
            sendPointerEvent(button.id, 'start');
        });
        
        // Add event listener for pointerup
        button.addEventListener('pointerup', function (event) {
            // Release the pointer capture for this button
            button.releasePointerCapture(event.pointerId);
            sendPointerEvent(button.id, 'end');
        });
    });

    // old code was: "direction":"LEFT", "event_type":(event.type==="pointerdown")?"start":"end"
    // Function to send POST request to Flask server
    function sendPointerEvent(buttonName, eventType) {
        fetch('/control', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                button_name: buttonName,
                event_type: eventType
            })
        })
        .then(response => response.json())
        .then(data => console.log('Data received from /control post:', data))
        .catch((error) => {
            console.error('Error after /control post: ', error);
        });
    }

    // Function to toggle tracking rate buttons and update server
    function toggle_tr_button(button, tr_value) {
        // tr_value is the number for the tracking rate list
        
        // Disable the button interaction while waiting for the POST response
        disableButtons(true);

        // Send the POST request (to special JSON endpoint)
        fetch('/update_tracking_json', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'tracking-rate': tr_value }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Assuming the server responds with JSON
        })
        .then(data => {
            if (data.success) {
                // Success: Update the button display
                const buttons = document.querySelectorAll('.tr-control-button');
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            } else {
                alert('Failed to update on the server');
            }
        })
        .catch(error => {
            alert('Failed to send the tracking rate update: ' + error.message);
        })
        .finally(() => {
            // Re-enable button interaction after the POST completes
            disableButtons('tr-control-btn', false);
        });
    }

    // Function to toggle slew rate ("move axis") buttons and update server

    function toggle_ma_button(button, rate_number) {
        // ma_value is the rate number in the moveaxis rate list
        
        // Disable the button interaction while waiting for the POST response
        disableButtons(true);

        // Send the POST request (to special JSON endpoint)
        fetch('/update_moveaxis_rate_json', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'moveaxis_rate': rate_number }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Assuming the server responds with JSON
        })
        .then(data => {
            if (data.success) {
                // Success: Update the button display
                const buttons = document.querySelectorAll('.ma-control-button');
                buttons.forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            } else {
                alert('Failed to update move axis rate on the server');
            }
        })
        .catch(error => {
            alert('Failed to send the move axis rate update: ' + error.message);
        })
        .finally(() => {
            // Re-enable button interaction after the POST completes
            disableButtons('ma-control-btn', false);
        });
    }    

    function disableButtons(btn_class, disabled) {
        // true means add disabled class, false means remove disabled class
        const buttons = document.querySelectorAll(btn_class);
        buttons.forEach(button => {
            if (disabled) {
                button.classList.add('disabled');
                button.disabled = true;
            } else {
                button.classList.remove('disabled');
                button.disabled = false;
            }
        });
    }
</script>

{% endblock %}

